@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main .pepe, main .pepe2, .foto2, .buscador {
  transition: 0.5s; }

main .pepe:hover, main .pepe2:hover, .foto2:hover {
  scale: 1.1;
  box-shadow: 0 0 10px #000; }

/* Header */
header {
  background-color: #1D7151;
  text-align: center;
  /* Menu */ }
  header .foto {
    text-align: center;
    height: 150px;
    width: 150px; }
  header .buscador {
    height: 20px;
    width: 32px; }
  header .buscar {
    text-align: right; }
  header .menu {
    text-align: center;
    box-sizing: border-box;
    top: 300px;
    bottom: 100px;
    border: 1px solid whitesmoke;
    font-size: 0.8rem;
    background-color: #1D7151;
    padding: 5px;
    margin: 5px; }
  header .etiqueta1 {
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0); }
  header nav ul li {
    display: inline-block; }
  header .espacio {
    background-color: #1D7151; }

/* Principal */
body {
  background-color: #1d715131; }

main {
  display: flex;
  flex-direction: column-reverse;
  padding: 0.3rem;
  border-radius: 0.2rem;
  background-color: #1D7151;
  box-shadow: 0.1rem 0.1rem 0.4rem;
  text-align: center;
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* iconos del contenido principal */
  /* animaciones */
  /* Contenido principal */ }
  main .texto {
    font-size: 0.8rem; }
  main .texto2 {
    font-size: 1.3rem; }
  main .texto1 {
    font-size: 0.9rem; }
  main .pepe {
    text-align: center;
    background-color: #F1F9FF;
    border-radius: 0.2rem; }
  main .pepe2 {
    background-color: #1D7151;
    align-self: center; }
  main .photo {
    height: 18rem;
    width: auto;
    border-radius: 0.2rem; }
  main span {
    color: #1D7151;
    font-size: 20px; }
  main div p {
    top: 30px;
    bottom: 10px;
    display: inline-block;
    box-sizing: border-box; }

/*Contenido secundario */
/* iconos del contenido secundario */
div div p span {
  color: #1D7151;
  font-size: 20px; }

.iconoss {
  text-align: center; }

p {
  top: 30px;
  bottom: 10px;
  display: inline-block;
  box-sizing: border-box; }

.contenido {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  flex-wrap: nowrap;
  display: grid;
  grid-template-columns: repeat(2, 13.9rem);
  box-sizing: border-box;
  gap: 0.3rem;
  justify-content: center; }

/*footer*/
footer {
  background-color: #1D7151;
  font-size: 0.9rem;
  color: #cdcdcd; }
  footer .sub {
    text-transform: uppercase;
    font-weight: bold; }
  footer .redes {
    display: flex;
    font-size: 1.5rem;
    box-sizing: border-box;
    background-color: #1D7151;
    flex-direction: row-reverse;
    gap: 0.5rem;
    margin-right: 1rem; }
    footer .redes a {
      text-decoration: none;
      list-style: none;
      color: #cdcdcd; }

/* animaciones */
/* Contenido secundario*/
.menu {
  transition: .5s ease all; }

/*header*/
.buscador:hover {
  scale: 1.2; }

/*menu */
header nav ul li a:hover {
  color: black;
  background: linear-gradient(to bottom, #e9f7cd, rgba(255, 255, 255, 0.647));
  box-shadow: 0px 0px 7px #6a6a6a;
  scale: 1.05;
  border-radius: 3px; }

/*Htmls de pages */
.main-desayuno {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.1rem;
  border-radius: 0.2rem;
  background-color: #1D7151;
  box-shadow: 0.1rem 0.1rem 0.4rem;
  text-align: center;
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-areas: 1;
  row-gap: 0.3rem; }

.section-desayuno {
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(2, 13.8rem);
  box-sizing: border-box;
  gap: 0.3rem;
  margin-left: 1rem;
  justify-content: center; }

.elemento1 {
  justify-self: center; }

.elemento2 {
  display: none; }

.contenido2 {
  display: inline-block;
  flex-wrap: nowrap;
  display: grid;
  grid-template-columns: repeat(2, 13.7);
  box-sizing: border-box;
  gap: 0.3rem;
  justify-content: center; }

.contenido3 {
  display: inline-block;
  flex-wrap: nowrap;
  display: grid;
  grid-template-columns: repeat(2, 13.9);
  box-sizing: border-box;
  gap: 0.3rem;
  justify-content: center; }

/*animaciones */
.elemento2 {
  transition: 0.5s; }

.elemento2:hover {
  scale: 1.1;
  box-shadow: 0 0 10px #000; }

.elemento1 {
  transition: 0.5s; }

.elemento1:hover {
  scale: 1.1;
  box-shadow: 0 0 10px #000; }

.elemento4 {
  transition: 0.5s; }

.elemento4:hover {
  scale: 1.1;
  box-shadow: 0 0 10px #000; }

/*media queries para pantallas mas pequeñas */
@media screen and (max-width: 320px) {
  /* Header */
  header {
    background-color: #1D7151;
    text-align: center;
    /*Buscador */
    /* Menu */ }
    header .foto {
      text-align: center;
      height: 120px;
      width: 120px; }
    header .buscador {
      width: 32px; }
    header .buscar {
      text-align: right; }
    header .menu {
      text-align: center;
      box-sizing: border-box;
      top: 200px;
      bottom: 50px;
      border: 1px solid whitesmoke;
      font-size: 10px;
      background-color: #1D7151; }
  /*Contenido principal */
  main {
    width: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem; }
    main .photo {
      flex-wrap: nowrap;
      height: auto;
      width: 18rem;
      border-radius: 0.2rem; }
    main .texto {
      font-size: 0.8rem; }
    main .texto2 {
      font-size: 1.3rem; }
    main .texto1 {
      font-size: 0.9rem; }
  /*Pages */
  main .main-desayuno {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row; }
  main .elemento2 {
    display: none; }
  main .elemento1 {
    display: none; }
  main .section-desayuno {
    display: flex;
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    display: grid;
    grid-template-columns: repeat(1, 15rem);
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.8rem; }
  /*Contenido secundario */
  .contenido,
  .contenido2,
  .contenido3 {
    display: inline-block;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(1, 16rem);
    box-sizing: border-box;
    gap: 0.3rem;
    justify-content: center; } }

@media screen and (min-width: 768px) {
  /*header*/
  header .menu {
    text-align: center;
    box-sizing: border-box;
    top: 200px;
    bottom: 50px;
    border: 1px solid whitesmoke;
    font-size: 14px;
    background-color: #1D7151; }
  .foto {
    text-align: center;
    height: 170px;
    width: 170px; }
  /*Buscador */
  .buscador {
    height: 26px;
    width: 42px; }
  /* principal */
  main {
    margin: 2rem; }
    main .texto {
      font-size: 0.8rem; }
    main .texto2 {
      font-size: 1.3rem; }
    main .texto1 {
      font-size: 0.9rem; }
    main .main-desayuno {
      justify-content: center; }
  /*Contenido secundario */
  .contenido,
  .contenido2,
  .contenido3 {
    display: inline-block;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(3, 16rem);
    box-sizing: border-box;
    gap: 0.3rem;
    justify-content: center; } }

@media screen and (min-width: 1024px) {
  /*header*/
  .foto {
    text-align: center;
    height: 200px;
    width: 200px; }
  /*Buscador */
  .buscador {
    height: 25px;
    width: 45px; }
  .menu {
    text-align: right;
    font-size: 15px; }
  /* Principal */
  body main {
    display: grid;
    padding: 0.3rem;
    margin: 4rem;
    grid-template-columns: 36.5rem;
    grid-template-areas: "pepe pepe2";
    gap: 0.8rem;
    background-color: #1D7151;
    box-shadow: 0.1rem 0.1rem 0.4rem;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    font-family: 'Roboto', sans-serif; }
    body main .texto {
      font-size: 0.8rem; }
    body main .texto2 {
      font-size: 1.3rem; }
    body main .texto1 {
      font-size: 0.9rem; }
    body main .pepe {
      grid-area: pepe;
      text-align: center;
      background-color: #f1f9ff;
      border-radius: 0.2rem; }
    body main .pepe2 {
      grid-area: pepe2;
      background-color: #1D7151;
      align-self: center; }
    body main .photo {
      height: 22rem;
      width: auto;
      border-radius: 0.2rem; }
  body {
    background-color: #1d715131; }
  /*Contenido secundario */
  .contenido,
  .contenido2,
  .contenido3 {
    display: inline-block;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(4, 15.2rem);
    box-sizing: border-box;
    gap: 0.3rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem; } }

@media screen and (min-width: 1024px) {
  .main-desayuno {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row; }
  .section-desayuno {
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    box-sizing: border-box; }
  .elemento1 {
    width: 22rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap; }
  .elemento2 {
    display: initial;
    width: 22rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap; }
  .contenido2 {
    margin-left: 0.1rem;
    margin-right: 0.5rem; } }

@media screen and (min-width: 1200px) {
  /*header*/
  header .foto {
    text-align: center;
    height: 250px;
    width: 250px; }
  header .buscador {
    height: 25px;
    width: 45px; }
  header .menu {
    text-align: right;
    font-size: 15px; }
  body main {
    display: grid;
    padding: 0.3rem;
    margin: 4rem;
    grid-template-columns: 36.5rem;
    grid-template-areas: "pepe pepe2";
    gap: 0.8rem;
    background-color: #1D7151;
    box-shadow: 0.1rem 0.1rem 0.4rem;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    font-family: 'Roboto', sans-serif; }
    body main .texto {
      font-size: 0.8rem; }
    body main .texto2 {
      font-size: 1.3rem; }
    body main .texto1 {
      font-size: 0.9rem; }
    body main .pepe {
      grid-area: pepe;
      text-align: center;
      background-color: #f1f9ff;
      border-radius: 0.2rem; }
    body main .pepe2 {
      grid-area: pepe2;
      background-color: #1D7151;
      align-self: center; }
    body main .photo {
      height: 22rem;
      width: auto;
      border-radius: 0.2rem; }
  body {
    background-color: #1d715131; }
  /*Contenido secundario */
  .contenido,
  .contenido2,
  .contenido3 {
    display: inline-block;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(5, 15.1rem);
    box-sizing: border-box;
    gap: 0.3rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0px; } }
