$color-principal:#1D7151;
$color-secundario:#1d715131;
$color-relleno:#F1F9FF;
$color-font-footer:rgb(205, 205, 205);
$color-font-menu:white;
$color-border-menu:whitesmoke;
$color-fondo-pepe:rgba(241, 249, 255, 1);